* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(125deg, #404258, #6B728E) no-repeat center center fixed;
    height: auto;
    width: auto;
}

/* Start: User input "display-day */

.search-wrapper {
    display: flex;
    flex-direction: row;
}

.display-day {
    margin-left: 40%;
    margin-top: 10%;
    width: 29em;
    max-height: 30.5em;
    border-radius: 50px;
    padding:  35px 40px 35px;
    text-align: center; 
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 9px rgb(17,17,17);
}

.dt-container {
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0px 12px 0px;
    margin-bottom: 16px;
    gap: 160px;
}

#date, #today, #time {
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(189, 95, 189);
    background: none;
    padding: 10px 25px;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    font-weight: 600;
}

.search-container button {
    border: none;
    background: none;
    cursor: pointer;
}

.search-container button img {
    width: 48px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-image {
    width: 12em;
    margin-top: 1.4em;
}


.city {
    font-size: 2.4em;
} 

.temp {
    font-size: 2em;
    margin-top: 0.2em;
}
/* Slut: User input "display-day" */

/* Start: Generated forecast cards */

.forecast-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 29em;
    height: 30.5em;
    margin-right: 60%;
    margin-top: 10%;
}

.forecast-card {
    margin-top: 1.3em;
    margin-left: 1em;
    width: 14em;
    height: 20em;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 9px rgb(17,17,17);
}

.forecast-img img {
    display: flex;
    height: 5em;
}

.forecast-day {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 600;
}

.max-temp, .min-temp {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.1em;
}

/* Slut: Generated forecast cards */

/* Start: Generated row-divs etc */

.row {
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 9px rgb(17, 17, 17);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4em;
    width: 27.375em;
    margin-left: 40%;
    margin-top: 1em;
}

.row img {
    width: 3.5em;
}

.humidity,
.wind,
.pressure,
.visibility {
  font-size: 1.5em;
  font-weight: 600;
}

/* Slut: Generated row-divs etc */

::placeholder {
    color: black;
}

